body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.adminpanel {
  height: 100vh;
  display: flex;
}
.adminpanel .menu {
  padding-top: 10rem;
  width: 30%;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}
.adminpanel .context {
  margin-top: 10rem;
  margin-left: 2rem;
}