.body .catalog {
  font-family: sans-serif;
}
.body .catalog .catalog_header {
  margin-top: 1.625rem;
}
.body .catalog .catalog_header .sort {
  display: flex;
  gap: 1rem;
}
.body .catalog .catalog_header .sort .price {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #E3E3E3;
  background: #F7F7F7;
  padding: 0.5rem 0.4rem;
}
.body .catalog .catalog_header .sort .price span {
  color: #75758A;
}
.body .catalog .catalog_header .sort .price a {
  padding: 0.5rem 0.4rem;
  display: flex;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
}
.body .catalog .catalog_header .sort .price a img {
  margin: auto;
}
.body .catalog .catalog_header .pagination {
  display: flex;
  gap: 1rem;
  justify-content: end;
}
.body .catalog .catalog_header .pagination .p {
  padding: 1rem 0.8125rem;
  display: flex;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
}
.body .catalog .catalog_header .pagination .p img {
  margin: auto;
}
.body .catalog .catalog_header .pagination .none_active {
  border: 1px solid #E3E3E3;
  background: #F7F7F7;
}
.body .catalog .catalog_header .pagination form button {
  padding: 1rem 0.8125rem;
  display: flex;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
  background: white;
}
.body .catalog .catalog_header .pagination form button img {
  margin: auto;
}
.body .catalog .c_body {
  display: flex;
  margin-top: 1.625rem;
  justify-content: space-between;
}
.body .catalog .c_body h2 {
  font-size: 1.875rem;
  text-transform: uppercase;
}
.body .catalog .c_body .count {
  font-size: 1rem;
  font-weight: 600;
}
.body .catalog .c_body .count span {
  background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.body .catalog .c_body .filter {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  justify-content: end;
  border-top: 1px solid #E3E3E3;
}
.body .catalog .c_body .filter form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.body .catalog .c_body .filter form .value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.body .catalog .c_body .filter form .value > * {
  cursor: pointer;
}
.body .catalog .c_body .filter form button {
  padding: 0.75rem 1.25rem;
  background: #F5F5F5;
  border: 1px solid #E3E3E3;
  color: #75758A;
  font-size: 1rem;
  cursor: pointer;
}
.body .catalog .c_body .catalog_list {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.body .catalog .c_body .catalog_list .c_product {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 1.75rem 1rem;
  border: 1px solid #EFEFEF;
  border-radius: 1px;
}
.body .catalog .c_body .catalog_list .c_product .preview {
  width: 100%;
  position: relative;
}
.body .catalog .c_body .catalog_list .c_product .preview img {
  width: 70%;
}
.body .catalog .c_body .catalog_list .c_product .preview .favs {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 3rem;
}
.body .catalog .c_body .catalog_list .c_product .preview .favs img {
  width: 100%;
}
.body .catalog .c_body .catalog_list .c_product .title {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.body .catalog .c_body .catalog_list .c_product .company {
  margin-top: 0.2rem;
  color: #75758A;
  font-size: 0.875rem;
}
.body .catalog .c_body .catalog_list .c_product .price {
  background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 0.875rem;
  margin-top: 0.2rem;
  font-weight: 600;
}
.body .catalog .c_body .catalog_list .c_product .c_btn {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 100px;
  cursor: pointer;
  padding: 0.75rem 0;
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}