.body .catalog {
  font-family: sans-serif;
}
.body .catalog .c_body {
  display: flex;
}
.body .catalog .c_body h2 {
  font-size: 1.875rem;
  text-transform: uppercase;
}
.body .catalog .c_body .count {
  font-size: 1rem;
  font-weight: 600;
}
.body .catalog .c_body .count span {
  background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.body .catalog .c_body .filter {
  display: flex;
  width: 30%;
  justify-content: end;
}
.body .catalog .c_body .filter form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.body .catalog .c_body .filter form .value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.body .catalog .c_body .filter form .value > * {
  cursor: pointer;
}
.body .catalog .c_body .catalog_list {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.body .catalog .c_body .catalog_list .c_product {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 1.75rem 1rem;
  border: 1px solid #EFEFEF;
  border-radius: 1px;
}
.body .catalog .c_body .catalog_list .c_product .preview {
  width: 70%;
}
.body .catalog .c_body .catalog_list .c_product .preview img {
  width: 100%;
}
.body .catalog .c_body .catalog_list .c_product .title {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.body .catalog .c_body .catalog_list .c_product .company {
  margin-top: 0.2rem;
  color: #75758A;
  font-size: 0.875rem;
}
.body .catalog .c_body .catalog_list .c_product .price {
  background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 0.875rem;
  margin-top: 0.2rem;
  font-weight: 600;
}
.body .catalog .c_body .catalog_list .c_product .c_btn {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 100px;
  cursor: pointer;
  padding: 0.75rem 0;
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}