.meanpage {
  height: -moz-max-content;
  height: max-content;
}
.meanpage .banner {
  height: 40.625rem;
  background: url("../../assets/png/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
}
.meanpage .banner .he {
  position: relative;
  padding: 3.125rem 0;
  margin: 0 8.4375rem;
}
.meanpage .banner .he p {
  background: white;
  width: -moz-max-content;
  width: max-content;
  padding: 0 1.875rem;
  position: relative;
  margin: 0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  font-size: 1.25rem;
  line-height: 3.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 3;
}
.meanpage .banner .he p span {
  background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.meanpage .banner .he .round {
  position: absolute;
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  border-radius: 100%;
  height: 3.75rem;
  width: 3.75rem;
  bottom: 1.6rem;
  left: -1.875rem;
  z-index: 2;
}
.meanpage .features {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8.4375rem;
  background: #F5F5F5;
  box-sizing: border-box;
}
.meanpage .features .el {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
}
.meanpage .features .el img {
  height: -moz-max-content;
  height: max-content;
}
.meanpage .features .el p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.meanpage .text {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.meanpage .text h3 {
  text-transform: uppercase;
  line-height: 1.25rem;
  font-size: 1rem;
  text-align: center;
}
.meanpage .text p {
  color: #75758A;
  text-align: center;
  line-height: 1.625rem;
  font-size: 0.875rem;
}
.meanpage .text p span {
  color: black;
}
.meanpage .text .btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.meanpage .text .btns .btn_catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  border-radius: 100px;
  padding: 1.0625rem 3.375rem;
  cursor: pointer;
}
.meanpage .text .btns .btn_catalog span {
  font-size: 0.875rem;
  line-height: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: -moz-max-content;
  width: max-content;
}
.meanpage .text .btns .btn_catalog:hover {
  background: #4F9C2C;
}
.meanpage .text .btns .search {
  width: 3.375rem;
  width: 15.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 100px;
}
.meanpage .text .btns .search input {
  border-radius: 100px;
  border: 1px solid #E3E3E3;
  outline: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1490196078) inset;
  padding: 0.75rem 3rem 0.75rem 1.25rem;
  width: 15.625rem;
  height: 3.125rem;
  box-sizing: border-box;
  background: #F5F5F5;
  background-image: url(../../assets/svg/loopa.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 13.375rem 1rem;
  font-size: 0.875rem;
  line-height: 1rem;
}
.meanpage .categories {
  display: grid;
  width: -moz-max-content;
  width: max-content;
  gap: 1.875rem;
  grid-template-columns: 21.875rem 21.875rem 21.875rem;
  grid-template-rows: 21.875rem 21.875rem;
  margin: 4.6875rem auto;
}
.meanpage .categories .block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.5625rem;
  box-sizing: border-box;
}
.meanpage .categories .block .b p {
  padding: 0.75rem 0.9375rem;
  background: white;
  margin: 0;
  width: -moz-max-content;
  width: max-content;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
}
.meanpage .categories .block1 {
  background-image: url("../../assets/png/photo (1).png");
}
.meanpage .categories .block2 {
  background-image: url("../../assets/png/photo (2).png");
}
.meanpage .categories .block2 .b p {
  display: block;
  background: #75758A;
  color: white;
}
.meanpage .categories .block3 {
  background-image: url("../../assets/png/photo@2x (2).png");
}
.meanpage .categories .block4 {
  background-image: url("../../assets/png/photo (3).png");
  grid-column: 1/3;
}
.meanpage .categories .block5 {
  background-image: url("../../assets/png/photo (4).png");
}
.meanpage .featuress {
  display: flex;
  flex-direction: column;
  background: #F5F5F5;
  padding: 5.9375rem 8.4375rem;
  justify-content: center;
  align-items: center;
}
.meanpage .featuress h3 {
  font-size: 1.125rem;
  margin: 0;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.meanpage .featuress p {
  color: #75758A;
  font-size: 0.875rem;
  line-height: 1.625rem;
}
.meanpage .featuress .fss {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  margin: 3.5625rem 0;
}
.meanpage .featuress .fss .fs {
  padding: 1.5625rem 1.875rem;
  width: 25%;
  background: white;
  display: flex;
  flex-direction: column;
}
.meanpage .featuress .fss .fs .l {
  width: 100%;
  display: flex;
  justify-content: end;
}
.meanpage .featuress .btn_catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  border-radius: 100px;
  padding: 1.0625rem 3.375rem;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
}
.meanpage .featuress .btn_catalog span {
  font-size: 0.875rem;
  line-height: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: -moz-max-content;
  width: max-content;
}
.meanpage .featuress .btn_catalog:hover {
  background: #4F9C2C;
}
.meanpage .news {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 5.9375rem 8.4375rem;
  justify-content: center;
  align-items: center;
}
.meanpage .news h3 {
  font-size: 1.125rem;
  margin: 0;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.meanpage .news .news_block {
  display: flex;
  gap: 1.875rem;
  margin-top: 2rem;
}
.meanpage .news .news_block .block {
  border: 1px solid #EFEFEF;
  width: 100%;
  cursor: pointer;
}
.meanpage .news .news_block .block .preview {
  width: 100%;
}
.meanpage .news .news_block .block .preview img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.meanpage .news .news_block .block .content {
  padding: 1.875rem;
  font-family: sans-serif;
}
.meanpage .news .news_block .block .content .n_date span {
  font-size: 0.875rem;
  color: #75758A;
}
.meanpage .news .news_block .block .content .n_title p {
  font-size: 1.125rem;
}
.meanpage .news .news_block .block .content .n_text p {
  font-size: 0.875rem;
  color: #75758A;
}
.meanpage .news .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  border-radius: 100px;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  margin-top: 2.5rem;
}
.meanpage .news .btn a {
  font-size: 0.875rem;
  line-height: 1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 600;
  width: -moz-max-content;
  width: max-content;
  padding: 1.0625rem 3.375rem;
}
.meanpage .news .btn:hover {
  background: #4F9C2C;
}