.body {
  padding: 0 8.4375rem;
}
.body h1 {
  text-transform: uppercase;
}
.body h1 span {
  background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.body .news {
  margin-top: 2.6875rem;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 3.125rem;
}
.body .news a {
  text-decoration: none;
  color: black;
}
.body .news .block {
  border: 1px solid #EFEFEF;
  width: 100%;
  cursor: pointer;
}
.body .news .block .preview {
  width: 100%;
}
.body .news .block .preview img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body .news .block .content {
  padding: 1.875rem;
  font-family: sans-serif;
}
.body .news .block .content .date span {
  font-size: 0.875rem;
  color: #75758A;
}
.body .news .block .content .title p {
  font-size: 1.125rem;
}
.body .news .block .content .text p {
  font-size: 0.875rem;
  color: #75758A;
}
.body .news .block .content .commc span {
  color: #60B021;
  font-size: 0.875rem;
}
.body .comments {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 2rem;
}
.body .comments form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.body .comments form textarea {
  width: 100%;
  padding: 1.125rem;
  font-size: 1rem;
  box-sizing: border-box;
  height: 10rem;
}
.body .comments form button {
  margin-top: 1rem;
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  border-radius: 100px;
  padding: 1.0625rem 3.375rem;
  cursor: pointer;
  outline: none;
  color: white;
  width: -moz-max-content;
  width: max-content;
  border: 0;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.body .comments .forum {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.body .comments .forum .comment {
  padding: 1rem;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
}
.body .comments .forum .comment .user {
  font-size: 0.875rem;
  font-weight: 600;
}