.body {
  margin-bottom: 5rem;
}
.body .product {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  margin-top: 2rem;
}
.body .product .left {
  width: 40%;
}
.body .product .left .preview {
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #EFEFEF;
}
.body .product .left .preview img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body .product .left .info {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.body .product .left .info h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.body .product .left .info .table {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.body .product .left .info .table .elem {
  padding: 1rem 0;
  border-top: 1px solid #EFEFEF;
  display: flex;
  justify-content: space-between;
}
.body .product .left .info .table .elem .title {
  font-size: 0.875rem;
  color: #75758A;
}
.body .product .left .info .table .elem .value {
  font-size: 0.875rem;
}
.body .product .left .info .table .elem:last-child {
  border-bottom: 1px solid #EFEFEF;
}
.body .product .right {
  width: 55%;
}
.body .product .right h2 {
  font-size: 1.875rem;
  margin: 0;
}
.body .product .right .company {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.body .product .right .check {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.body .product .right .check .b {
  font-size: 0.875rem;
  padding: 0.625rem;
  background: #4F9C2C;
  color: white;
  width: -moz-max-content;
  width: max-content;
}
.body .product .right .check .add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  box-sizing: border-box;
}
.body .product .right .check .add button {
  outline: none;
  border: none;
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  border-radius: 100px;
  font-size: 0.875rem;
  cursor: pointer;
  outline: none;
  color: white;
  width: -moz-max-content;
  width: max-content;
  border: 0;
  text-transform: uppercase;
  line-height: 3rem;
}
.body .product .right .text {
  margin-top: 4rem;
}
.body .product .right .text h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.body .product .right .text p {
  color: #75758A;
  font-size: 0.875rem;
  line-height: 1.625rem;
}
.body .product .right .prices {
  margin-top: 4rem;
}
.body .product .right .prices h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.body .product .right .prices .pss {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.body .product .right .prices .pss .l {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.body .product .right .prices .pss .l .k {
  padding: 1rem 0;
  border-top: 1px solid #EFEFEF;
  display: flex;
  justify-content: space-between;
}
.body .product .right .prices .pss .l .k .tl {
  font-size: 0.875rem;
  color: #75758A;
}
.body .product .right .prices .pss .l .k .price {
  font-size: 0.875rem;
  color: #60B021;
}
.body .product .right .prices .pss .l:last-child {
  border-bottom: 1px solid #EFEFEF;
}
.body .product .right .tags {
  margin-top: 4rem;
}
.body .product .right .tags h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.body .product .right .tags .ts {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 1rem;
}
.body .product .right .tags .ts .tag {
  font-size: 0.875rem;
  padding: 0.4375rem 0.5625rem;
  background: linear-gradient(180deg, rgba(247, 247, 247, 0.5) 0%, #F7F7F7 100%);
  border: 1px solid #E3E3E3;
}
.body .product .right .tags .ts .tag a {
  text-decoration: none;
  color: #75758A;
}