.body
    padding: 0 8.4375rem 
    & h1
        text-transform: uppercase

        & span
            background-image: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%)
            color: transparent
            background-clip: text
    & .news
        margin-top: 2.6875rem
        display: flex
        flex-direction: column
        width: 70%
        gap: 3.125rem
        & .block
            border: 1px solid #EFEFEF
            width: 100%
            cursor: pointer
            & .preview
                width: 100%
                & img
                    width: 100%
                    object-fit: cover
            & .content
                padding: 1.875rem
                font-family: sans-serif
                & .date span
                    font-size: .875rem
                    color: #75758A
                & .title p
                    font-size: 1.125rem
                & .text p
                    font-size: .875rem
                    color: #75758A